apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  labels:
    app: mattermost-team-edition
  name: mattermost-team-edition
spec:
  lookupPolicy:
    local: false
  tags:
    - from:
        kind: DockerImage
        name: '{{mattermost_openshift_docker_registry_host}}:{{mattermost_openshift_docker_registry_port}}/mattermost/mattermost-team-edition:{{mattermost_openshift_app_version_tag}}'
      name: {{mattermost_openshift_internal_tag}}
      importPolicy: {}
      referencePolicy:
        type: Source